# IDEA
*.iml
.idea/*
!.idea/codeStyleSettings.xml
!.idea/copyright
!.idea/codeStyles
!.idea/icon.png
!.idea/icon_dark.png

# Gradle
.gradle
build
/reports

# Gradle Android
**/local.properties
/captures

# OSX
.DS_Store

# Danger
**/vendor/bundle/

enc.properties
signing/release.keystore