<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="ie.otormaigh.lazyotp">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application
    android:name="ie.otormaigh.lazyotp.LazySmsApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name="ie.otormaigh.lazyotp.feature.MainActivity"
      android:screenOrientation="fullSensor">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="ie.otormaigh.lazyotp.feature.settings.SettingsActivity"
      android:screenOrientation="fullSensor" />

    <receiver android:name="ie.otormaigh.lazyotp.service.SmsReceiver">
      <intent-filter android:priority="1000">
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
      </intent-filter>
    </receiver>

    <service android:name=".service.BatteryLevelService" />
  </application>
</manifest>